[submodule "tools/runners/odin_ii"]
	path = tools/odin_ii
	url = https://github.com/verilog-to-routing/vtr-verilog-to-routing.git
[submodule "tools/runners/icarus"]
	path = tools/icarus
	url = https://github.com/steveicarus/iverilog.git
[submodule "tools/runners/verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator.git
[submodule "tools/runners/slang"]
	path = tools/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "tools/runners/yosys"]
	path = tools/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "tools/zachjs-sv2v"]
	path = tools/zachjs-sv2v
	url = https://github.com/zachjs/sv2v
