pyyaml
jinja2
tree_sitter==0.20.4
pygments
yapf==0.30.0
psutil
mako
make_var
markupsafe
pytablewriter
GitPython
simplesat==0.8.2
git+https://github.com/lowRISC/edalize.git@ot
git+https://github.com/lowRISC/fusesoc.git@ot
orderedmultidict
