pyyaml
jinja2
tree_sitter
pygments
yapf==0.30.0
psutil
mako
make_var
markupsafe
pytablewriter
GitPython
git+https://github.com/lowRISC/edalize.git@ot
git+https://github.com/lowRISC/fusesoc.git@ot
orderedmultidict
