# Format: //devtools/kokoro/config/proto/build.proto

build_file: "sv-tests/.github/kokoro/run.sh"

timeout_mins: 4320

action {
  define_artifacts {
    regex: "**/out/report/**"
    strip_prefix: "github/sv-tests/"
  }
}

env_vars {
  key: "KOKORO_TYPE"
  value: "presubmit"
}

env_vars {
  key: "KOKORO_DIR"
  value: "sv-tests"
}
