.button-switcher {
  background-color: white;
  color: black; 
  border: 2px solid #4CAF60;
  border-radius: 5px;
  top: 10px;
  font-size: auto;
  float: right;
  margin:5px;
}

.button-switcher-history {background-color: #4CAF60; color: white;}

.button-switcher:hover {
  background-color: #4CAF60;
  color: white;
}
