/*
Naming convention used in some elements group:

c_* : component. Marks toplevel component element.
p_* : A "part" of a component.
v_* : Variant. Additional class that marks a variant of a part, component
      or element.
s_* : State of an element.

Names ("*" above) use lower-kebab-case.
*/

* {
  box-sizing: border-box;
}

body {
  background-color: white;

  width: fit-content;
  min-width: 100%;

  font-family: sans-serif;
  margin: 0;
  /* --panel-height is set dynamically in report.js */
  padding: 0 0 var(--panel-height, 0) 0;
}

main {
  width: fit-content;
  min-width: 100%;
}

/** Sticky page sections (everything but a table) *********************/

/** Centered or right aligned sections **/
header,
.dataTables_filter {
  position: sticky;
  /* 100vw includes (unknown) scrollbar width. */
  /* Subtract arbitrary margin from both sides to cover for it. */
  width: calc(100vw - 64px);
  left: 32px;

  margin-left: 0 !important;
  margin-right: 0 !important;
}

/** Left aligned sections **/
#filter-section,
.dataTables_info,
#summary-section,
footer {
  position: sticky;
  /* 100vw includes (unknown) scrollbar width. */
  /* Subtract arbitrary margin from the right to cover for it. */
  width: calc(100vw - 42px);
  left: 10px;

  margin-left: 0 !important;
  margin-right: 0;
}

/** General styling ***************************************************/

header {
    text-align: center;
}

header a {  /* Only subtly hint that this is a link */
    color: #00006f;
    text-decoration: none;
}

.dataTables_filter {
    float: none !important;
    text-align: center;
}

.dataTables_info {
    float: none !important;
    text-align: left;
}

#summary-section {
  margin-top: 1rem;
}

footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 10px;
}

/** Table *************************************************************/

/** Layout **/

table.dataTable {
  /* 20px = padding; 2px = borders */
  --description-col-width: calc(30em + 20px);
  --tag-col-width:         calc(8em  + 20px);
  --tool-col-min-width:    calc(5em  + 20px + 2px);

  min-width: 100%;
  width: auto;

  position: relative;
  z-index: 0;
}

table.dataTable > thead > tr > th:nth-of-type(1),
table.dataTable > tbody > tr > th:nth-of-type(1) {
  box-sizing: border-box !important;
  width:     var(--description-col-width) !important;
  max-width: var(--description-col-width) !important;
  min-width: var(--description-col-width) !important;
}

table.dataTable > thead > tr > th:nth-of-type(2),
table.dataTable > tbody > tr > th:nth-of-type(2) {
  box-sizing: border-box !important;
  width:     var(--tag-col-width) !important;
  min-width: var(--tag-col-width) !important;
  max-width: var(--tag-col-width) !important;
}

table.dataTable > thead > tr > th:nth-of-type(n+3),
table.dataTable > tbody > tr > td,
table.dataTable > tfoot > tr > td {
  box-sizing: border-box !important;
  min-width: var(--tool-col-min-width) !important;
  width:     auto !important;
}

table.dataTable > thead > tr {
  height: 150px;
}

/** Sticky column headers **/

table.dataTable > thead > tr > th:nth-of-type(n+2) {
  position: sticky;
  z-index: calc(2 + var(--z, 0));
  top: 0;
}

table.dataTable > thead > tr > th:nth-of-type(-n+2) {
  position: sticky;
  z-index: calc(3 + var(--TOOLS_COUNT, 100));
  top: 0;
}

/** Sticky row headers (first 2 columns) **/

table.dataTable > tbody > tr > th:nth-of-type(-n+2),
table.dataTable > tfoot > tr > th:nth-of-type(-n+2) {
  position: sticky;
  z-index: 1;
}

table.dataTable > * > tr > th:nth-of-type(1) {
  left: 0;
}

table.dataTable > * > tr > th:nth-of-type(2) {
  left: var(--description-col-width);
}

/** Styling **/

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: bottom right;
}

table.dataTable > thead,
table.dataTable > tbody {
  background-color: white;
}

table.dataTable > tfoot {
  background-color: lightgray;
}

table.dataTable > * > tr,
table.dataTable > * > tr > th {
  background-color: inherit;
}

table.dataTable > thead > tr > th:nth-of-type(n+3) {
  text-align: left;
  vertical-align: bottom;
}

table.dataTable > thead > tr > th:nth-of-type(n+3) a.tool_link {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform-origin: bottom left;
  transform: rotate(315deg);
  text-transform: lowercase;
}

table.dataTable > * > tr > th:nth-of-type(1) {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
}

table.dataTable > * > tr > th:nth-of-type(2) {
  text-align: left;
  padding-right: 1px; /* decrease padding to avoid line wrapping in some cells */
}

table.dataTable > tbody > tr > td {
  text-align: center;
  overflow: hidden;
}

table.dataTable > tbody > tr > td:empty {
  background-color: #cfcece;
}

table.dataTable > tbody > tr > td:not(:empty) {
  border: 1px;
  border-color: #505050;
  border-style: dotted;
  cursor: pointer;

  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
}

table.dataTable > tbody > tr > td:not(:empty).s_selected {
  outline: 3px solid blue;
  filter: brightness(95%);
  font-weight: bold;
}

.test-failed {
  background-color: #ff6961;
}
.test-passed {
  background-color: #89E894;
}
.test-varied {
  background-color: #ff6961;
  /* a single green pixel with color #89e894 that we use to make a variable background 'bargraph' */
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12PoejEFAAQGAgeVHl+AAAAAAElFTkSuQmCC');
  background-repeat:no-repeat;
  background-size: var(--val, 100%) 100%;
}

table.dataTable > tfoot > tr > * {
  padding: 10px 10px 6px 10px;
}

table.dataTable > tfoot > tr:first-of-type > * {
  border-top: 2px solid #505050;
}

table.dataTable > tfoot > tr:last-of-type > * {
  border-bottom: 2px solid #505050;
}

table.dataTable > tfoot > tr:not(:first-of-type) > th {
  border-top: 0;
}

table.dataTable > tfoot > tr > td {
  font-weight: normal !important;
  text-align: right;
  border-left: 1px solid #505050;
  border-top: 1px solid #505050;
  overflow: hidden;
}

a.tag_link, a.tool_link {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #00000060;
}

a.tool_link:hover, a.tag_link:hover {
  color: #00006f;
  text-decoration-color: #00006f80;
}

table.dataTable > thead > tr > th:first-of-type {
  text-align: left;
  vertical-align: bottom;
  padding: 0 0 4px 10px;
  overflow: hidden;
}

table.dataTable > thead > tr > th:first-of-type h2 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#666;
}

/** Filter ************************************************************/

/** Expandable view (<details>) **/

#filter-section > details {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  display: block;
}

#filter-section > details > summary {
  display: inline-block;
  width: fit-content;

  color: black;
  margin: 0.5rem 0;

  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #00000060;
  cursor: default;
}
#filter-section > details > summary:hover {
  color: #00006f;
  text-decoration-color: #00006f80;
}
#filter-section > details[open] > summary {
  margin-right : 1rem;
}
#filter-section > details > button {
  font-weight: bold;
  display: inline-block;
  margin-right : 1rem;
}
#filter-error-msg {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  color: #af1a00;
}
#filter-error-msg:empty {
  display: none;
}

#filter-section > details[open]::before,
#filter-section > details[open]::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  background-color: #505050;
  box-shadow: -1rem 0 #505050, 64px 0 #505050;
}
#filter-section > details[open]::before { top: 0.5rem; }
#filter-section > details[open]::after { bottom: 0.5rem; }

/** Filter controls **/

.c_filter {
  display: grid;
  grid-template-columns: 4em 1fr;
  gap: 1rem 2px;
  align-items: start;
  justify-items: stretch;
  margin: 1rem 0;
  line-height: 1.5rem;
}

.c_filter > dt::after {
  content: ":"
}

.c_filter > dd {
  display: block;
}

.c_filter > dd label {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5rem;
}

.c_filter > dd label > input[type="checkbox"] {
  vertical-align: middle;
}

.c_filter .p_checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10em);
  align-items: start;
}

.c_filter .p_buttons-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.c_filter .p_buttons-bar > :not(:last-child) {
  margin-right: 2px;
}

.c_filter > .p_coverage-filter {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: -4px;
}

.c_filter > .p_coverage-filter > .p_entry {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-right: 1rem;
}
.c_filter > .p_coverage-filter > .p_entry > * {
  margin-bottom: 4px;
}
.c_filter > .p_coverage-filter > .p_entry > :not(:last-child) {
  margin-right: 2px;
}

.c_filter > .p_coverage-filter > .p_entry > select {
  width: fit-content;
}
.c_filter > .p_coverage-filter > .p_entry > input[type="number"] {
  width: fit-content;
  max-width: 5em;
}
.c_filter > .p_coverage-filter > .p_entry > input[type="number"]:invalid {
  outline: 2px solid #ff6961;
  color: #af1a00;
}

button.v_link-button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  font-size: 0.8em;
  align-self: center;
  line-height: 1em;

  color: black;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #00000060;
}

button.v_link-button:hover {
  color: #00006f;
  text-decoration-color: #00006f80;
}

button.v_link-button:disabled {
  color: #cfcece;
  text-decoration-color: #cfcece60;
}

/** Details panel *****************************************************/

.c_test-details-panel {
  position: fixed;
  left: 1.5%;
  right: 1.5%;
  bottom: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "log file"
    "tests-list tests-list";
  align-items: stretch;
  justify-items: stretch;
  justify-content: stretch;

  overflow-y: hidden;
  overflow-x: hidden;

  background-color: #000;
  border: 2px solid black;
  font-family: "Courier New", Courier, monospace;
}

.c_test-details-panel.s_hidden {
  display: none;
}

.c_test-details-panel > .p_log { grid-area: log; }
.c_test-details-panel > .p_file { grid-area: file; }
.c_test-details-panel > .p_tests-list { grid-area: tests-list; }

.c_test-details-panel > iframe {
  background-color: #fff;
  border: none;
  height: 20vh;
}

.c_test-details-panel > .p_tests-list {
  max-height: 20vh;
  background-color: #666;
  overflow-y: scroll;
}

.c_test-details-panel > .p_tests-list > button {
  width: 12.5%;
  margin: 0px;
  cursor: pointer;
  border: 2px solid #666;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.c_test-details-panel > .p_tests-list > button:focus { outline:0; }

.c_test-details-panel .p_close-button {
  background: #cfcece;
  float: right;
}

.c_test-details-panel > .p_tests-list > .p_item {
  float: left;
  background-color: #ff6961;
}

.c_test-details-panel > .p_tests-list > .p_item.s_passed {
  background-color: #89E894;
}

.c_test-details-panel > .p_tests-list > .p_item.s_selected {
  border: 2px solid blue;
  font-weight: bold;
}

/** Other *************************************************************/

.ui-widget-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-tooltip {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-weight: normal;
  white-space: pre-wrap;
  max-width: 100%;
}

.ui-corner-all {
  border-radius: 0px;
}
