name: comment-pr

on:
  workflow_run:
    workflows: ["sv-tests-ci"]
    types:
      - completed

jobs:
  Comment:
    name: Comment
    runs-on: ubuntu-18.04
    if: >
      ${{ github.event.workflow_run.event == 'pull_request' &&
          github.event.workflow_run.conclusion == 'success' &&
          github.ref != 'refs/heads/master' }}
    steps:
      - name: test
        run: |
          echo ${{ github.event.workflow_run.event }}
          echo ${{ github.event.workflow_run.conclusion }}
          echo ${{ github.event.workflow_run.ref }}
          false # fail early
      - name: Prepare output directories
        run: mkdir -p out/report

      - name: 'Download artifact'
        uses: actions/github-script@v3.1.0
        with:
          script: |
            var artifacts = await github.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: ${{github.event.workflow_run.id }},
            });
            var matchArtifact = artifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "tests_summary"
            })[0];
            var download = await github.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            var fs = require('fs');
            fs.writeFileSync('${{github.workspace}}/tests_summary.zip', Buffer.from(download.data));

      - run: unzip tests_summary.zip -d ./out/report

      - id: get-comment-body
        run: |
          body=$(cat ./out/report/tests_summary.md)
          body="${body//'%'/'%25'}"
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}"
          echo ::set-output name=body::$body

      - id: get-pr-number
        run: |
          num=$(cat ./out/report/issue_num)
          echo ::set-output name=num::$num

      - name: Post comment
        uses: KeisukeYamashita/create-comment@v1
        with:
          number: ${{ steps.get-pr-number.outputs.num }}
          check-only-first-line: "true"
          unique: "true"
          token: ${{ secrets.GITHUB_TOKEN }}
          comment: ${{ steps.get-comment-body.outputs.body }}
