name: "Code Quality Checks"

on:
  push:
  pull_request:

jobs:
  Test:
    name: "Code Quality Checks"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Script
        run:
          pip install -r conf/requirements.txt
      - name: Make
        run:
          make format
      - name: Test
        run:
          test $(git status --porcelain | wc -l) -eq 0 || { git diff; false; }
      - name: License
        uses: SymbiFlow/actions/checks@main
        with:
          exclude_directory: |
            ./.git/
            ./.github/
            ./.dependabot/
            ./miniconda.sh
            ./build/
          third_party: |
            ./third_party/cores/
            ./third_party/tests/
            ./third_party/tools/

